.parent-magin-auto {
  background-color: blue;
}

.child-magin-auto {
  margin: 0 auto;
  background-color: red;
  width: fit-content;
}

/* div {
  display: flex;
  background-color: blue;
  height: 100px;
  align-items: center;
  justify-content: space-around;
}

p {
  background-color: red;
} */

.display-flex {
  display: flex;
  justify-content: space-around;
}

.parent {
  border: solid 5px red;
  width: 200px;
}

.child {
  border: solid 5px blue;
  box-sizing: content-box;
  width: 200px;
}

.parent2 {
  border: solid 5px red;
  width: 200px;
}

.child2 {
  border: solid 5px blue;
  box-sizing: border-box;
  width: 200px;
}

.display-flex-without-space {
  display: flex;
}

h3 {
  margin: 2px;
}

.element-1 {
  border: solid 3px green;
  box-sizing: content-box;
  padding: 10px;
  margin: 0;
}

.element-2 {
  border: solid 3px violet;
  box-sizing: content-box;
  padding: 10px;
  margin: 0;
}

.back {
  border: solid 5px purple;
  padding: 20px 0;
  width: 500px;
}

.front {
  border: solid 5px orange;
  margin: -37px 0 0 4.667px;
  box-sizing: border-box;
  width: 500px;
}

/* * {
  box-sizing: border-box;
} */
